body {
    min-width       : 100%;
    min-height      : 100%;
    display         : block;
    background-color: #E6E6E6;
}

.content {
    flex: 1 0 auto;
    z-index: 3;
    width  : 100%;
    min-height : 72.58%;
}

footer{
    width           : 100%;
    height          : 5.5%;
    color           : #F2F2F2 !important;
    background-color: #242424 !important;
    font            : 14px Karla, Sans-Serif;
}


/*PERTENECIENTE AL BANNER PRINCIPAL*/
#banner {
    background-color: rgb(0, 59, 92);
    height          : 15%;
    width           : 100%;
    position        : static;
    box-shadow      : 5px 5px 20px rgba(53, 71, 82, 0.381);
    z-index         : 1;
}

/*PERTENECIENTE AL BANNER DONDE SE ENCUENTRA EL BOTON DE CERRAR SESION*/
.banner2{
    display: flex;
    position: static;
    max-width: 100%;
    height: 60px;
    z-index: 2;
    background-color: #616161 !important;
    justify-content: right;
    align-items: center;
    
}

/*ESTILOS DEL TITULO PRINCIPAL, SIEMPRE AL INICIO DE PAGINA*/
.txt-title{
    text-align    : center;
    padding       : 1.75em 0;
    letter-spacing: 0.075rem;
    line-height   : 1.25;
    color         : rgb(0, 59, 92);
    font-family   : "Roboto Condensed", sans-serif;
    font-weight   : 600;
    font-size     : clamp(1rem, -0.875rem + 8.333vw, 1.7rem);  
}

/*ESTILOS DE TITULOS SECUNDARIOS*/
.sub-title{
    text-align    : center;
    padding       : 0.75em 0;
    letter-spacing: 0.075rem;
    line-height   : 1.25;
    color         : #616161;
    font-family   : "Roboto ligth", sans-serif;
    font-weight   : 600;
    font-size     : clamp(1rem, -0.875rem + 8.333vw, 1.1rem);
    
}

/*ESTILOS DEL LOGO DE MINERVA*/
.minerva{
    width   : 80px;
    height  : 80px;
    position:absolute;
    right   : 1%;
    top     : 3%;
}

/*ESTILOS DEL LOGO DEL LNS*/
.lns-logo{
    width   : 170px;
    height  : 60px;
    position:absolute;
    left    : 1%;
    top     : 3.5%;
}

/*ESTILOS DE BOTONES DEL MENU, EN COLOR AZUL*/
#botones_desp{
    background-color: rgb(68, 160, 221);
    color           : rgb(255, 255, 255);
    line-height     : 20px;
    width           : 200px;   
    margin          : 20px;
    margin-bottom   : 2px;
    font-size       : clamp(1rem, -0.875rem + 8.333vw, 1.1rem);
}


#botones-lat{
    border-radius: 5px;
    margin       : 0.7em;
    border       : 2px solid white;
    font-size    : 16px; 
}

/*ESTILOS DEL CONTENEDOR DE LA TABLA*/
.contenedorTabla{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    text-align: center;
}

/*ESTILOS DE LAS CELDAS*/
th{
    height: 55px;
}

/*Evadiendo estilos de Bootstrap sobrepuestos*/

@media (min-width: 1650px) {

    #lns-logo{
        width :140px;
        height: 60;
    }

    .container, .container-sm {
    max-width: none !important; 
    }


    html, body {
        height: 100%;
    }

    #banner{
        height: 13%;
    }
    
     
}

@media (max-width: 1650px) {

    .lns-logo{
        width : 120px;
        height: 40;
    }


    html, body {
        height: 96%;
    }


    .content{
        height: 70%;
    }

    #banner{
        height: 13%;
    }

    .banner2{
        height: 10%;
    }

    footer{
        height: 6%;
        align-content: center;
     }
}

@media (max-width: 1355px){
    .container, .container-sm {
        max-width: none ; 
    }

    html, body {
        height: 99%;
    }

    #banner{
        height: 12%;
    }

    .banner2{
        height: 60px;
    }

    .content{
        height: 76.05%;
    }

    footer{
        height: 6.74%;
    }
}



@media (max-width: 980px){

    html, body{
        height: 99%;
    }

    .content{
        height: 74%;
    }

    footer{
        height: 6%;
    }
}

@media (max-width: 800px){

    html, body{
        height: 99%;
    }

    .content{
        height: 74%;
    }

    .contenedorTabla{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }

    footer{
        height: 6%;
    }
}


@media (max-width: 730px) {
    .container, .container-sm {
        max-width: none !important; 
    }


    html, body {
        height: 99%;
    }

    .content{
        height: 72%;
    }

    footer{
        height: 7.5%;
    }
    
}

@media (max-width: 470px) {
    .container, .container-sm {
        max-width: none !important; 
    }

    #banner{
        height: 11%;
    }

    .banner2{
        height: 6%;
    }

    .minerva{
        width: 70px;
        height: 65px;
    }

    .lns-logo{
        width: 160px;
        height: 50px;
    }

    html, body {
        height: 99%;
    }

    .content{
        height: 72.5%;
    }


    .contenedorTabla{
        font-size: 12px;
    }

    footer{
        height: 8.9%;
    }
    
}

@media (max-width: 320px){
    html, body {
        height: 98.5%;
    }

    .minerva{
        display: none;
    }

    #banner{
        height: 10%;
    }

    .content{
        height: 72.5%;
    }

    .contenedorTabla{
        font-size: 11px;
    }

    footer{
        height: 10.4%;
    }
}

@media (max-width: 260px){
    .minerva{
        display: none !important;
    }
    html, body {
        height: 96.4%;
    }

    #banner{
        height: 10%;
    }

    .content{
        height: 72.5%;
    }

    footer{
        height: 12.5%;
    }
}

@media (max-width: 192px){
    html, body {
        height: 94.5%;
    }

    #banner{
        height: 10%;
    }

    .content{
        height: 72.5%;
    }

    footer{
        height: 14.5%;
    }
}


@media (max-width: 175px) {
    .container, .container-sm {
    max-width: none !important; 
    }

    #banner{
        height: 7%;
    }

  
    .lns-logo{
        width: 150px;
        height: 40px;
    }

    html, body {
        height: 88%;
    }

    #banner{
        height: 10%;
    }

    .content{
        height: 72.5%;
    }

    footer{
        height: 22.1%;
    }
    
}