/*@font-face {
    font-family: ;
    src: url();
}*/
#banner {
    background-color: rgb(0, 59, 92);
    font-family: sans-serif;

}
#botones{
    background-color: rgb(0, 181, 226);
    color: white;
    margin-top: 50px;
}

.SegundoBanner{
    background-color: rgb(0,59,92);
}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
}